.now,
.about,
.uses {
  h2,
  h3 {
    color: $color2;
  }

  a:link,
  a:visited,
  a:active,
  a:hover {
    color: $color1;
    text-decoration: none;
  }
}

.now,
.uses {
  h2 {
    font-size: 40px;
  }
}
