.blogPage {
  line-height: 1.5;
  margin: 0px auto;
  max-width: 960px;
  //padding: 0px 20px 10px;
  display: flex;
  flex-direction: column;

  a:link,
  a:visited,
  a:active,
  a:hover {
    color: $color5;
    text-decoration: none;
  }

  h1 {
    color: $color5;
    // text-align: center;
  }
  h4 {
    color: $color2;
    //text-align: center;
    margin-bottom: 50px;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
    @include for-size(phone-only) {
      padding-left: 0px;
    }
  }

  .postPreview {
    position: relative;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    border-bottom: 1px solid $color1;

    .postTitle,
    .catTitle {
      font-size: 28px;
      margin: 0;
      color: $color4;
    }

    .postDate,
    .catDate {
      color: $color2;
      margin: 5px 0px 10px;
      font-size: 16px;
    }

    .postDescription,
    .catDesc {
      color: black;
      display: inline-block;
      font-size: 16px;
    }

    .readMore,
    .catReadMore {
      font-size: 14px;
      text-decoration: underline;
    }
  }
}

.blog-post-layout {
  line-height: 1.5;
  margin: 0px auto;
  max-width: 960px;
  //padding: 0px 20px 10px;
  //margin-top: 50px;
  display: flex;
  flex-direction: column;
  @include for-size(phone-only) {
    margin-top: 0px;
  }

  .blogPost {
    margin: 0 auto;
    max-width: 960px;

    @include for-size(phone-only) {
      max-width: 300px;
    }

    .blogTitle {
      h1 {
        font-size: 38px;
        color: $color4;
        margin-top: 20px;
      }

      em {
        font-size: 16px;
        color: $color2;
      }
    }

    .catLink {
      margin-top: 0.5em;
      font-size: 14px;
      @extend %linkStyle;
    }

    .blogText {
      margin-top: 20px;
      h1,
      h2,
      h3,
      h4 {
        color: $color2;
      }

      img {
        margin: 0 auto;
        overflow: hidden;
        display: block;
        @include for-size(tablet-only) {
          width: 50%;
          height: 50%;
        }
        @include for-size(phone-only) {
          width: 75%;
          height: 75%;
        }
      }
      @extend %linkStyle;
    }
    .back-to-blog {
      display: flex;
      font-size: 14px;
      color: $color5;
      text-decoration: none;
      @extend %linkStyle;
    }
  }
}
