.blog_post {
  @include pageBody;
  max-width: 50rem;

  h2 {
    font-size: 3rem;
    font-family: 'Work Sans';
  }
  h3 {
    font-size: 2rem;
    font-family: 'Work Sans';
  }
  a {
    font-weight: bold;
    color: $black-coral;
  }
  footer {
    margin-top: 4rem;
    text-align: center;
    font-family: 'Quattrocento Sans';
  }
}
