.categoryPage,
.categories {
  line-height: 1.5;
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 20px 10px;
  display: flex;
  flex-direction: column;
  color: $color1;

  a:link,
  a:visited,
  a:active,
  a:hover {
    color: $color1;
    text-decoration: none;
  }

  h1 {
    color: $color2;
  }

  ul {
    list-style: none;
  }

  .categoryName {
    font-size: 24px;
  }

  .categoryHeader {
    font-size: 32px;
    color: $color2;
    text-align: center;
    margin-bottom: 50px;
  }
}
