.footer {
  padding: 0.5em 30px;
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: $color1;
    text-decoration: none;
  }
  .footer-links {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    color: $color1;
  }
}
