header {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $dark-blue-gray;
    background-image: none;
  }

  .header_logo {
    display: flex;
    flex-direction: row;
    margin-top: 15px;

    .linkz {
      display: flex;
      flex-direction: row;

      .ks_logo {
        margin: 50px;
      }
    }
  }
  .toggle_theme {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    max-width: 605px;
    //position: fixed;
    right: 60px;
    top: 20px;
  }
}
