header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 33px;

  a {
    color: $dark-blue-gray;
    background-image: none;
  }

  .logo {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    flex-grow: 1;

    .logo_link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .ks_logo {
        margin: 10px 0px;
        width: 15%;
      }

      h1 {
        margin: 0px 10px;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1.5;

    a {
      margin: 5px
    }
  }

  .socials {
    display: flex;
    flex-direction: row;
  }
  .theme_toggler {
    display: flex;
  }
}
