header {
  display: flex;
  flex-direction: column;
  margin: 1em 0em 1em 1em;

  @include for-size(tablet-up) {
    flex-direction: row;
  }

  @include for-size(phone-only) {
    margin: 1em 0em 1em 0em;
  }

  @include for-size(large-screen) {
    margin: 1em 0em 1em 12em;
  }
  @include for-size(extra-large-screen) {
    margin: 1em 0em 1em 30em;
  }
}
