.home-intro {
  background: rgb(212, 161, 135);
  background: -moz-linear-gradient(
    90deg,
    rgba(212, 161, 135, 0.45) 0%,
    rgba(212, 161, 135, 0.45) 50%,
    rgba(212, 161, 135, 0.45) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(212, 161, 135, 0.45) 0%,
    rgba(212, 161, 135, 0.45) 50%,
    rgba(212, 161, 135, 0.45) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(212, 161, 135, 0.45) 0%,
    rgba(212, 161, 135, 0.45) 50%,
    rgba(212, 161, 135, 0.45) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4a187",endColorstr="#d4a187",GradientType=1);
}

.home-main,
.find-me,
.blog-cards,
.work-together {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-main {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem 1.45rem 1.0875rem;
  text-align: left;

  @include for-size(phone-only) {
    display: flex;
    flex-direction: column-reverse;
  }

  .home-image {
    padding-right: 50px;
    img {
      border: 15px solid white;
      @include for-size(phone-only) {
        width: 300px;
      }
    }
  }
  .home-text {
    align-self: flex-end;
    background-color: white;
    border: 15px solid white;
  }
}

.find-me {
  margin-top: 30px;
  margin-bottom: 30px;

  @include for-size(phone-only) {
    display: flex;
    flex-direction: column;
  }
  .box-2 {
    margin-right: 30px;
    margin-left: 30px;
    @include for-size(phone-only) {
      margin-left: 0px;
    }
  }
  .find-me-box {
    background-color: $mainColor;
    width: 400px;
    height: 300px;
    padding: 40px;
    text-transform: capitalize;

    @include for-size(phone-only) {
      width: 340px;
      height: 100px;
      padding: 0px;
      margin-bottom: 12px;
    }

    .text-box {
      background-color: white;
      border: 15px solid white;
      margin-top: 80px;
      text-align: center;
      @extend %linkStyle;

      @include for-size(phone-only) {
        border: 0px solid white;
        margin-top: 35px;
        margin-bottom: 26px;
        width: 50%;
        margin-left: 86px;
      }

      p {
        margin-bottom: 0px;
      }
    }
  }
}

.from-the-blog {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem 1.45rem 1.0875rem;
  text-align: center;

  .blog-cards {
    .card {
      margin-right: 30px;
      margin-left: 30px;
      border-color: white;
      @extend %linkStyle;

      @include for-size(phone-only) {
        display: flex;
        flex-direction: column;
      }
      .postPreview {
        padding: 10px 10px;

        h4 {
          margin-top: 10px;
        }
        .blog-card-img {
          width: 50%;
        }
        .postTitle {
          margin-bottom: 5px;
        }
        .postDate {
          margin-bottom: 5px;
        }
        .postDescription {
          //width: 300px;
          p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}

.work-together {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem 1.45rem 1.0875rem;
  text-align: center;
}

/* 
.hpBio {
  @extend %linkStyle;
  @include for-size(phone-only) {
    flex-basis: auto;
  }

  .hpIntro {
    font-size: 40px;
    @include for-size(phone-only) {
      text-align: center;
    }
  }
  .bio {
    font-size: 16px;
  }
}

.hpImage {
  .gatsby-image-wrapper {
    @include for-size(phone-only) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}
 */

.contact-form {
  display: flex;
  @include for-size(phone-only) {
    flex-direction: column;
  }
  h1 {
    color: $subColor;
  }
  margin-left: 4px;
  .content-left {
    width: 50%;
  }
  .content-right {
    margin-top: 50px;
  }
}

.success-form {
  text-align: center;
  img {
    width: 40%;
  }
}
