body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  background-color: white;
}

header {
  @extend %linkStyle;
  display: flex;
  align-items: stretch;

  @include for-size(phone-only) {
    flex-direction: column;
    align-items: center;
  }

  > div {
    margin: 10px;
    line-height: 75px;
    @include for-size(phone-only) {
      margin: 0px;
      height: 30px;
      line-height: 60px;
    }
  }

  .site-logo {
    display: flex;
    flex: auto;
    flex: 2;
    padding-left: 80px;

    @include for-size(phone-only) {
      padding-left: 0px;
    }

    @include for-size(tablet-only) {
      padding-left: 0px;
      line-height: 38px;
    }

    @include for-size(small-desk) {
      padding-left: 0px;
    }

    .ks-logo {
      width: 50px;
      margin-bottom: 20px;
      margin-right: 10px;
      @include for-size(phone-only) {
        margin-top: 2px;
        margin-bottom: 0px;
      }
    }

    .ks-name {
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      color: $color4;
      @include for-size(phone-only) {
        font-size: 30px;
      }
    }
  }

  .navigation {
    flex-grow: 1.5;
    display: flex;
    // flex: 4;
    @include for-size(phone-only) {
      margin-left: 20px;
    }
    @include for-size(tab-desk) {
      margin-left: 0px;
    }

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding-left: 0px;

      @include for-size(phone-only) {
        align-items: center;
        margin-top: 0px;
      }

      li {
        margin-right: 20px;
        @include for-size(phone-only) {
          font-size: 14px;
          line-height: 28px;
        }
      }
      .linkItem {
        color: $color4;
        text-decoration: none;
      }
      .linkItem:hover {
        color: $color5;
      }
      .linkItemActive {
        color: $color5;
      }
    }
  }

  .connect {
    flex-grow: 1;
    flex: 1;

    @include for-size(phone-only) {
      margin-right: 0px;
    }
    @include for-size(tab-desk) {
      margin-right: 5px;
    }
    @include for-size(tablet-only) {
      flex-basis: max-content;
    }

    .faIcons {
      font-size: 18px;
      @include for-size(phone-only) {
        line-height: 1px;
      }
    }
  }
}

.mainBody {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem 1.45rem 1.0875rem;
  text-align: left;
}

.footer {
  padding: 0.5em 30px;
  @extend %linkStyle;
  .footer-links {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    color: $color1;
  }
}

.fourohfourpage {
  a {
    color: $color1;
    text-decoration: none;
  }
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  .imgfourohfour {
    text-align: center;
    margin: 0 auto;
    max-width: 30%;
    margin-bottom: 1.45rem;
  }
}
