body {
  margin: 0px;
  font-family: "PT Sans", sans-serif;
}

.mainBody {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem 1.45rem 1.0875rem;
  text-align: left;
}

.faIcons {
  font-size: 30px;
}

.header {
  background: $mainColor;
  padding: 0.5em 30px;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
    text-decoration: none;
  }

  .siteName {
    text-align: center;
    font-size: 24px;
    max-width: fit-content;
    @include for-size(phone-small) {
      font-size: 18px;
    }
    @include for-size(phone-only) {
      font-size: 18px !important;
      margin-top: 7px;
      margin: auto;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    @include for-size(tablet-only) {
      text-align: center;
      font-size: 24px !important;
      max-width: fit-content;
      margin-top: 7px;
      margin: auto;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    @include for-size(tab-desk) {
      margin-left: 175px;
    }
  }
  .header-links-left {
    margin-top: 7px;

    @include for-size(small-desk) {
      margin-top: 7px;
      margin-left: -19px;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    @include for-size(tablet-only) {
      max-width: fit-content;
      margin-top: 7px;
      margin-left: -19px;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    @include for-size(phone-only) {
      max-width: fit-content;
      margin-top: 7px;
      margin-left: -19px;
      font-size: 12px;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
  .header-links-right {
    margin-top: 7px;
    text-align: right;
    padding-left: 50px;
    @include for-size(small-desk) {
      margin-top: 7px;
      margin-left: -19px;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    @include for-size(phone-only) {
      max-width: fit-content;
      margin-left: auto;
      font-size: 12px;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}

.footer {
  padding: 0.5em 30px;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $mainColor;
    text-decoration: none;
  }
  .footer-links {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    color: $mainColor;
  }
}

.fourohfourpage {
  a {
    color: $mainColor;
    text-decoration: none;
  }
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  .imgfourohfour {
    text-align: center;
    margin: 0 auto;
    max-width: 30%;
    margin-bottom: 1.45rem;
  }
}
