body {
  margin: 0px;
  font-family: "PT Sans", sans-serif;
}

.header {
  background: $mainColor;
  padding: 0.5em 30px;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
    text-decoration: none;
  }
}
.header-links {
  max-width: 400px;
  text-align: left;
  position: absolute;
  margin-top: 6px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  @include for-size(phone-only) {
    margin-top: 12px;
    margin-left: -19px;
    font-size: 12px;
  }
}

.siteName {
  text-align: center;
  font-size: 24px;
}

.mainBody {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem 1.45rem 1.0875rem;
  text-align: left;
}

.hpBio {
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $mainColor;
    text-decoration: none;
  }
  @include for-size(phone-only) {
    flex-basis: auto;
  }
}

.hpIntro {
  font-size: 40px;
  @include for-size(phone-only) {
    text-align: center;
  }
}

.bio {
  font-size: 16px;
}

.connect {
  font-size: 20px;
  margin-top: 36px;
  @include for-size(phone-only) {
    text-align: center;
  }
}

.faIcons {
  font-size: 30px;
}

.hpImage {
  .gatsby-image-wrapper {
    @include for-size(phone-only) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}

.footer {
  background: $mainColor;
  padding: 0.5em 30px;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
    text-decoration: none;
  }
}

.footer-links {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  color: white;
}

ul {
  list-style: none;
}
