body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  background-color: white;
}

.ks-logo-name {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  @include for-size(phone-only) {
    font-size: 30px;
  }
}

.mainBody {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem 1.45rem 1.0875rem;
  text-align: left;
}

header {
  @extend %linkStyle;
  display: flex;
  align-items: stretch;
  > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
  }

  @include for-size(phone-only) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .connect {
    flex-grow: 1;
    @include for-size(phone-only) {
      margin-right: 0px;
    }
    @include for-size(tab-desk) {
      margin-right: 5px;
    }

    .faIcons {
      font-size: 18px;
      @include for-size(phone-only) {
        line-height: 1px;
      }
    }
  }

  .navigation {
    flex-grow: 1.5;
    display: flex;
    @include for-size(phone-only) {
      margin-left: 20px;
    }
    @include for-size(tab-desk) {
      margin-left: 0px;
    }

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding-left: 2px;
      @include for-size(phone-only) {
        align-items: center;
        margin-top: 15px;
      }

      li {
        margin-right: 20px;
        @include for-size(phone-only) {
          font-size: 14px;
          line-height: 28px;
        }
      }
      .linkItem {
        color: $mainColor;
        text-decoration: none;
      }
      .linkItemActive {
        color: $subColor;
      }
    }
  }
}

.footer {
  padding: 0.5em 30px;
  @extend %linkStyle;
  .footer-links {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    color: $mainColor;
  }
}

.fourohfourpage {
  a {
    color: $mainColor;
    text-decoration: none;
  }
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  .imgfourohfour {
    text-align: center;
    margin: 0 auto;
    max-width: 30%;
    margin-bottom: 1.45rem;
  }
}
