.site-logo {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  margin: 0em auto 0em auto;

  .ks-logo {
    width: 50px;
    margin-right: 1rem;
    @include for-size(tablet-up) {
      margin: auto 0.5rem 0.75rem 1rem;
    }
  }

  .ks-name {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: $color4;
    text-decoration: none;
  }
}
