.mdx_page {
  max-width: 34.8rem;
  padding: 2.175rem 1.0875rem;
  margin: 0 auto;
  text-align: center;

  h1,
  h2 {
    font-family: 'Work Sans';
  }
  p {
    font-family: 'Quattrocento Sans';
  }
  strong {
    font-family: 'Work Sans';
  }
}
