.menu {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-self: center;

  .linkItem {
    color: $color4;
    text-decoration: none;
    margin-right: 10px;
  }
  .linkItem:hover {
    color: $color5;
  }
  .linkItemActive {
    color: $color5;
  }
}
