.portfolioTitle {
  margin-top: 20px;
  text-align: center;
  @extend %linkStyle;
}
.kelundra,
.hawkpest,
.yogaposies,
.laurensfloral {
  border-bottom: 5px solid $mainColor;
  margin-bottom: 40px;
}
