.portfolio {
  h1 {
    color: $color2;
  }
  h2,
  h4 {
    color: $color1;
  }
  .websiteTitle {
    margin-top: 20px;
    text-align: center;
    @extend %linkStyle;
  }
  .kelundra,
  .hawkpest,
  .yogaposies,
  .laurensfloral {
    border-bottom: 5px solid $color1;
    margin-bottom: 40px;
  }
}
