.social {
  flex-grow: 1;
  flex: 1;

  @include for-size(phone-only) {
    margin-right: 0px;
  }
  @include for-size(tab-desk) {
    margin-right: 5px;
  }
  @include for-size(tablet-only) {
    flex-basis: auto;
  }

  .faIcons {
    font-size: 18px;
    @include for-size(phone-only) {
      line-height: 1px;
    }
  }
}
