h1,
h2,
h3,
h4 {
  color: #575d90;
  font-family: 'Work Sans';
}

$black-coral: #595f72ff;
$bud-green: #7fb069ff;
$persian-orange: #cb904dff;
$dark-blue-gray: #575d90ff;
$june-bud: #c3d350ff;

p {
  font-family: 'Quattrocento Sans';
}

/* global.css */

body.dark {
  --bg: darkslategray;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
  background-color: var(--bg);
}

body.light {
  --bg: #fff;
  --primaryText: #000;
  --secondaryText: #777;

  background-color: var(--bg);
}
