$color1: #d9fac3;
$color2: #e3d08f;
$color3: #f9ded0;
$color4: #e6a1dd;
$color5: #9facfd;

body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  background-color: white;
}

/* Media Queries */
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $size == tablet-up {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == large-screen {
    @media (min-width: 1100px) {
      @content;
    }
  } @else if $size == extra-large-screen {
    @media (min-width: 2200px) {
      @content;
    }
  }
}

/* Extends */

%linkStyle {
  a:link,
  a:visited,
  a:active {
    color: $color5;
    text-decoration: none;
  }
  a:hover {
    color: $color4;
  }
}
