$color1: #D9FAC3;
$color2: #E3D08F;
$color3: #F9DED0;
$color4: #E6A1DD;
$color5: #9FACFD;




/* Media Queries */
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $size == tablet-only {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $size == phone-small {
    @media (max-width: 345px) {
      @content;
    }
  } @else if $size == small-desk {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == tab-desk {
    @media (min-width: 768px) and (max-width: 990px) {
      @content;
    }
  }
}

/* Extends */

%linkStyle {
  a:link,
  a:visited,
  a:active {
    color: $color5;
    text-decoration: none;
  }
  a:hover {
    color: $color4;
  }
}
