.blog_post {
  @include pageBody;
  max-width: 50rem;

  .blog_post_h2 {
    color: $mountbatten-pink;
  }
  a {
    font-weight: bold;
    color: $black-coral;
  }
}

body.dark {
  .blog_post_p {
    color: white;
  }
}
