.uses {
  display: flex;
  flex-direction: column;

  h3 {
    color: $light-pink;
  }
  h4 {
    color: $mountbatten-pink;
  }

  .use_item {
    flex-grow: 1;
    flex: 50%;

    ul {
      margin: 0px 0px;
      list-style: none;

      li {
        margin: 12px 10px;
      }
    }
  }

  .editor_terminal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
  }
}
