.header {
  margin-bottom: 1.45rem;
  background: #679499;
  padding: 0.5em 30px;
}
.header-links {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background: #679499;
  padding: 0.5em 30px;
}

.footer-links {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

ul {
  list-style: none;
}
